$top_footer_height: 80px;
$main_footer_height: 518px;
$footer_logo_row: 60px;
$footer_content_single_line_height: 30px;
$footer_navigation_height: 60px;
$footer_copyright_height: 50px;

#top-footer {
  height: $top_footer_height;
  line-height: $top_footer_height;
  background-color: $top_footer_background;
}

#footer-social {
  color: $footer_font_color;
}

#main-footer {
  height: $main_footer_height;
  background-color: $main_footer_background;
  color: $footer_font_color;

  .logo-row {
    height: $footer_logo_row;
    line-height: $footer_logo_row;
    font-size: 2.2em;
    margin-top: 80px;
  }

  #footer-content {
    margin-top: 15px;

    p {
      line-height: $footer_content_single_line_height;
    }
  }

  #footer-navigation {
    height: $footer_navigation_height;
    line-height: $footer_navigation_height;
    border-bottom: 1px solid $footer_navigation_border_color;
    margin: 33px 15px 0 15px;

    .footer-navigation-split {
      margin: 0 15px;
    }
  }

  #footer-copyright {
    height: $footer_copyright_height;
    line-height: $footer_copyright_height;

    .logo {
      letter-spacing: 0;
    }
  }
}

