/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #main-footer {
    #footer-navigation {
      .footer-nav {
        display: inline-block;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #main-footer {
    #footer-navigation {
      .footer-nav {
        display: inline-block;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #main-footer {
    #footer-content {
      text-align: center;

      .col-sm-4 {
        margin-bottom: 30px;
      }
    }

    #footer-navigation {
      .footer-nav {
        width: 100%;
      }

      .footer-navigation-split {
        display: none;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}