header {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: $header_z_index;

  #main-menu {
    padding-top: 10px;


    .logo-img {
      height: 100px;
      float: left;
    }

    .collapse.navbar-collapse.nav-header-collapse {
      float: right;
      padding-top: 60px;
    }

    a {
      font-size: 1.2em;
      color: #000;
    }
  }
}