$logo_section_height: 120px;
$main_white_menu_height: 70px;
$main_black_menu_height: 340px;

header {
  position: relative;
  z-index: $header_z_index;

  #logo-section {
    height: $logo_section_height;
    line-height: $logo_section_height;
    font-size: 2.5em;
    font-weight: 400;

    a {
      color: $logo_color;
      text-decoration: none;
    }

    a:visited {
      color: $logo_color;
      text-decoration: none;
    }

    a:hover {
      color: $logo_color;
      text-decoration: none;
    }
  }

  #main-menu {
    color: $main_menu_color;
    border-bottom: 1px solid $main_menu_border_color;
    @include inner_border;
    
    .container {
      ul {
        li:hover {
          background: $light-gray;

          a {
            color: $logo_color;
          }
        }
      }
    }
  }
}


header.white {
  #logo-section {
    background-color: $white;
  }

  #main-menu {
    height: $main_white_menu_height;
  }
}

header.black {
  background-color: $black;

  #main-menu {
    height: $main_black_menu_height;
  }
}