/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  header.black {
    #main-menu {
      height: $main_black_menu_height;
    }
  }

  #main-menu {
    border-bottom: 1px solid $main_menu_border_color;

    .nav-header-collapse {
      text-align: center;

      ul {
        display: block; text-align:center;
        float: none;

        li {
          width: 150px;
          float: none;
          display: inline-block;

          a {
            line-height: 40px;
            color: $white;
          }

          a:hover {
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  header.black {
    #main-menu {
      height: $main_black_menu_height;
    }
  }

  #main-menu {
    border-bottom: 1px solid $main_menu_border_color;
    .nav-header-collapse {
      text-align: center;

      ul {
        display: block; text-align:center;
        float: none;

        li {
          width: 150px;
          float: none;
          display: inline-block;

          a {
            line-height: 40px;
            color: $white;
          }

          a:hover {
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #main-menu {
    line-height: $main_white_menu_height;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  header.black {
    #main-menu {
      height: 57px;
      margin-bottom: 0;
    }
  }

  #logo-section {
    display: none;
  }

  #main-menu {
    line-height: 0;
    border: none;
    border-bottom: none;

    .container {
      background-color: $white;

      .navbar-toggle {
        font-size: 1.5em;
      }
    }


    .nav-header-collapse {
      text-align: center;
      border: none;

      ul {
        margin-top: 0;
        border: none;

        li {
          width: 100%;
          float: none;

          a {
            color: $black;
            line-height: 40px;
          }

          a:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}