/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  header {
    height: 130px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  header {
    height: 130px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  header {
    height: 57px;

    #main-menu {
      padding-top: 0;
      border: none;

      .container {
        background-color: $white;

        .navbar-toggle {
          font-size: 1.5em;
        }
      }

      .navbar-toggle {
        margin: 0;
      }


      .nav-header-collapse {
        text-align: center;
        border: none;

        ul {
          margin-top: 0;
          border: none;

          li {
            width: 100%;
            float: none;

            a {
              color: $black;
              line-height: 40px;
            }

            a:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}