header {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: $header_z_index;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);

  #main-menu {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    position: relative;


    .logo-img {
      height: 100px;
      float: left;
    }

    .collapse.navbar-collapse.nav-header-collapse {
      float: right;
      padding-top: 60px;
    }

    a {
      font-size: 1.2em;
      color: #000;
    }

    .social-buttons {
      font-size: 1.5em;
      color: lightgray;
      text-align: right;
      position: absolute;
      top: 15px;
      right: 45px;

      .fa-wechat:hover {
        cursor: pointer;
        color: darkgray;
      }
    }

    .wechat-code {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 45px;
      right: 45px;
      background: image_url('wechat.jpg') no-repeat;
      background-size: cover;
      display: none;
    }
  }
}