#contact-us-cta {
  height: 300px;
  background: image_url('contact-us-cta.png') no-repeat;
  background-size: cover;

  p {
    line-height: 250px;
    font-size: 6vw;
    text-align: center;
  }
}

#wine-making {
  height: auto;
  background-color: white;

  .grapes-img {
    min-height: 300px;
    background: image_url('grapes.png') no-repeat;
    background-size: cover;
  }

  .wine-making-intro {
    background-color: white;
    padding: 30px;

    p {
      padding-top: 10px;
      font-size: 1.1em;
      line-height: 30px;
    }
  }
}

#production-line {
  height: auto;
  background-color: white;

  .production-line-img {
    min-height: 300px;
    background: image_url('production-line.png') no-repeat;
    background-size: cover;
  }

  .production-line-intro {
    background-color: white;
    padding: 30px;

    p {
      padding-top: 10px;
      font-size: 1.1em;
      line-height: 30px;
    }
  }
}

#history {
  min-height: 300px;
  background: image_url('history.png') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 30px;

  h1 {
    font-size: 4em;
  }

  p {
    padding-top: 10px;
    font-size: 1.1em;
    line-height: 30px;
  }
}