$cta_header_height: 100px;
$learn_more_link_width: 150px;
$learn_more_link_height: 40px;
$learn_more_link_line_height: 25px;


#cta {
  height: 100vh;
  margin-top: -200px;
  position: relative;
  overflow: hidden;
  z-index: 90;

  .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 25%;
  }
  .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
    left: 25%;
  }

  .carousel-indicators {
    .active {
      width: 15px;
      height: 15px;
    }

    li {
      width: 14px;
      height: 14px;
    }
  }

  .carousel-inner {
    height: 100%;

    .item {
      height: 100%;
      position: relative;

      .img {
        height: 100%;
        background: no-repeat;
        background-size: cover;
      }

      .img-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        @include linear_gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      }

      .carousel-caption {
        left: 10%;
        right: 10%;
        padding-bottom: 15vh;
      }
    }
  }


  .container {
    .cta-content {
      text-align: left;
      color: $cta_content_font_color;
      padding: 0;

      .cta-header {
        height: $cta_header_height;
        line-height: $cta_header_height;
      }

      .cta-main-content {
        letter-spacing: 0;
      }

      .learn-more-link {
        width: $learn_more_link_width;
        height: $learn_more_link_height;
        line-height: $learn_more_link_line_height;
        color: $cta_learn_more_link_font_color;
        background-color: $cta_learn_more_link_background;
        border: none;
        margin-top: 50px;
        border-radius: $learn_more_link_height / 2;
      }
    }
  }
}

#introduction {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-color: white;
  z-index: 95;
  min-height: 500px;

  img {
    width: 200px;
    position: absolute;
    bottom: 30px;
    left: 10%;
  }

  .title {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 2.5em;
  }

  .content {
    font-size: 1.5em;
    line-height: 2em;
  }
}

#video {
  background: image_url('video_bg.png') no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;

  .video-link {
    font-size: 2.5em;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
  }
}

#about-us-and-products {
  height: 400px;
  text-align: center;

  #about-us-section {
    background: image_url('about_us_bg.png') no-repeat;
    background-size: cover;
  }

  .about-us-and-products-area {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    @include class_transition(0.3s);
  }

  .hover {
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    cursor: pointer;
  }

  #products-section {
    background: image_url('products_bg.png') no-repeat;
    background-size: cover;
  }

  a {
    font-size: 2.5em;
    color: #000;
  }

  a:visited {
    color: #000;
  }

  a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }
}

$welcome_height: 750px;
$wine_glass_size: 420px;
$split_wrapper_height: 40px;
$welcome_footer_icon_size: 20px;

#welcome {
  @include default_background;
  padding-top: 100px;
  padding-bottom: 80px;
  @include inner_border;
  //overflow: hidden;

  .container {
    //overflow: hidden;

    .wine-glass-wrapper {
      margin-top: -200px;
      padding: 0;
      text-align: center;

      .wine-glass {
        width: $wine_glass_size;
        height: $wine_glass_size;
        border: 3px solid $white;
        box-shadow: -8px 8px 10px rgba(176, 176, 176, 0.5);
      }
    }

    #welcome-header {
      color: $logo_color;
      font-size: 2.5em;
      letter-spacing: 3px;
    }

    #welcome-logo {
      font-size: 2.5em;
    }

    #welcome-split-wrapper {
      height: $split_wrapper_height;
      line-height: $split_wrapper_height;

      .hr-image-wrapper {
        width: 100px;
        height: auto;
        margin: 0 auto;
        @include default_background;
        position: relative;
        z-index: $split_wrapper_z_index;
      }

      hr {
        width: 50%;
        margin: -20px auto 0 auto;
        border-color: $home_page_welcome_split_hr_color;
        position: relative;
        z-index: $split_hr_z_index;
      }
    }

    #welcome-main-content {
      padding-top: 20px;
      color: $light_grey;

      .logo {
        color: $light_grey !important;
        letter-spacing: 0;
      }
    }

    .learn-more-link {
      width: $learn_more_link_width;
      height: $learn_more_link_height;
      line-height: $learn_more_link_line_height;
      color: $cta_learn_more_link_font_color;
      background-color: $cta_learn_more_link_background;
      border: none;
      margin-top: 50px;
      border-radius: $learn_more_link_height / 2;
    }

    #welcome-footer {
      padding-top: 80px;

      .welcome-footer-header {
        padding-top: 20px;
        color: $light_grey;
      }

      .welcome-footer-content {
        height: 30px;
        padding-top: 20px;
        padding-bottom: 20px;

        i {
          width: $welcome_footer_icon_size;
          height: $welcome_footer_icon_size;
          line-height: $welcome_footer_icon_size;
          font-size: 0.9em;
          color: $white;
          display: inline-block;
          border-radius: $welcome_footer_icon_size / 2;
          background-color: $black;
        }
      }
    }
  }
}

$home_page_partner_height: 920px;

#home_page_partner {
  color: $white;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: $home_page_partner_background;

  #partner_header_wrapper {
    padding-bottom: 75px;

    .partner_header_logo {
      color: $logo_color;
      font-size: 2.5em;
      letter-spacing: 6px;
    }

    .partner_header {
      font-size: 2.5em;
      letter-spacing: 6px;
    }

    #partner-split-wrapper {
      padding-top: 30px;
      height: $split_wrapper_height;
      line-height: $split_wrapper_height;

      .hr-image-wrapper {
        width: 100px;
        height: auto;
        margin: 0 auto;
        background-color: $home_page_partner_background;
        position: relative;
        z-index: $split_wrapper_z_index;
      }

      hr {
        width: 30%;
        margin: -20px auto 0 auto;
        border-color: $home_page_partner_split_hr_color;
        position: relative;
        z-index: $split_hr_z_index;
      }
    }
  }

  #partner-content {
    padding-top: 65px;
    border-top: 1px dashed $home_page_partner_split_hr_color;
    border-bottom: 1px dashed $home_page_partner_split_hr_color;

    .row {
      padding-bottom: 30px;

      .col-sm-3 {
        padding: 15px 30px 15px 0;
      }

      .col-sm-7 {
        padding-top: 15px;
        padding-bottom: 15px;

        .partner-content-header {
          line-height: 30px;
        }

        .partner-content-body {
          line-height: 20px;
          font-size: 0.8em;
          color: $home_page_partner_content_body_color;
        }
      }

      .col-sm-2 {
        padding-top: 15px;
        padding-bottom: 15px;

        i {
          color: $logo_color;
          line-height: 60px;
          font-size: 2em;
        }
      }
    }
  }
}

#home-page-blog-and-video {
  padding-top: 100px;
  padding-bottom: 80px;
  @include default_background;

  #blog-and-video-header-wrapper {
    padding-bottom: 75px;

    #blog-and-video-header-logo {
      color: $logo_color;
      font-size: 2.5em;
      letter-spacing: 6px;
    }

    #blog-and-video-logo-header {
      font-size: 2.5em;
      letter-spacing: 6px;
    }

    #blog-and-video-split-wrapper {
      padding-top: 30px;
      height: $split_wrapper_height;
      line-height: $split_wrapper_height;

      .hr-image-wrapper {
        width: 100px;
        height: auto;
        margin: 0 auto;
        @include default_background;
        position: relative;
        z-index: $split_wrapper_z_index;
      }

      hr {
        width: 30%;
        margin: -20px auto 0 auto;
        border-color: $home_page_welcome_split_hr_color;
        position: relative;
        z-index: $split_hr_z_index;
      }
    }
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .blog-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .blog-created-time {
    margin-top: 0;
  }

  .blog-body {
    padding-top: 5px;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}





























