/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #cta {
    .carousel-indicators {
      padding-right: 15px;
      text-align: right;
      left: auto;
      right: 10%;
      padding-bottom: 7vh;
    }

    .carousel-inner {
      .item {
        .carousel-caption {
          padding-bottom: 20vh;
        }
      }

      .container {
        width: 100%;
        //margin-top: 40vh;

        .cta-header {
          font-size: 4em;
          letter-spacing: 2px;
        }

        .cta-main-content {
          font-size: 2em;
        }
      }
    }
  }


  #introduction {
    .col-md-9 {
      padding-left: 50px;
    }
  }

  #about-us-and-products {
    #about-us-section {
      height: 100%;
    }

    #products-section {
      height: 100%;
    }

    a {
      line-height: 400px;
    }
  }

  #video {
    height: 600px;

    .video-link {
      margin-top: 450px;
    }
  }


  #welcome {
    .container {
      #welcome-footer {
        .col-sm-4:not(:first-of-type) {
          border-left: 1px solid $home_page_welcome_footer_border;
        }
      }
    }
  }

  #home_page_partner {
    #partner-content {
      .row {
        .col-sm-7 {
          border-left: 1px solid $home_page_partner_split_hr_color;
          border-right: 1px solid $home_page_partner_split_hr_color;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #cta {
    .carousel-indicators {
      padding-right: 15px;
      text-align: right;
      left: auto;
      right: 10%;
      padding-bottom: 7vh;
    }

    .carousel-inner {
      .item {
        .carousel-caption {
          padding-bottom: 20vh;
        }
      }

      .container {
        width: 100%;
        //margin-top: 40vh;

        .cta-header {
          font-size: 4em;
          letter-spacing: 2px;
        }

        .cta-main-content {
          font-size: 2em;
        }
      }
    }
  }


  #introduction {
    .col-md-9 {
      padding-left: 50px;
    }
  }

  #about-us-and-products {
    #about-us-section {
      height: 100%;
    }

    #products-section {
      height: 100%;
    }

    a {
      line-height: 400px;
    }
  }



  #video {
    height: 600px;

    .video-link {
      margin-top: 450px;
    }
  }

  #welcome {
    .container {
      #welcome-footer {
        .col-sm-4:not(:first-of-type) {
          border-left: 1px solid $home_page_welcome_footer_border;
        }
      }
    }
  }

  #home_page_partner {
    #partner-content {
      .row {
        .col-sm-7 {
          border-left: 1px solid $home_page_partner_split_hr_color;
          border-right: 1px solid $home_page_partner_split_hr_color;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #cta {
    .carousel-indicators {
      padding-right: 0;
      left: 50%;
      right: auto;
      text-align: center;
    }
    .carousel-inner {
      .item {
        .carousel-caption {
          padding-bottom: 28vh;
        }
      }
    }
    .container {
      .cta-header {
        font-size: 2.1em;
        letter-spacing: 4px;

        .logo {
          letter-spacing: 4px;
        }
      }

      .cta-content {
        text-align: center;
      }
    }
  }


  #introduction {
    .col-md-9 {
      padding-left: 0;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .row {
    width: 100%;
  }

  #cta {
    .container {
      margin-top: 45vh;

      .cta-header {
        font-size: 1.6em;
        letter-spacing: 0;

        .logo {
          letter-spacing: 0;
        }
      }
    }
  }

  #about-us-and-products {
    height: 600px;

    #about-us-section {
      height: 300px;
    }

    #products-section {
      height: 300px;
    }

    a {
      line-height: 300px;
    }
  }

  #video {
    height: 300px;

    .video-link {
      margin-top: 120px;
    }
  }

  #home_page_partner {
    #partner-content {
      text-align: center;

      .row {
        .col-sm-3 {
          text-align: center;
        }

        .col-sm-7 {
          border: none;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  #welcome {
    .container {
      #welcome-footer {
        .col-sm-4:not(:first-of-type) {
          border-left: none;
        }
      }
    }
  }
}
