$header_cta_image_height: 476px;

@media only screen and (min-width : 1200px) {
  #header-cta {
    margin-top: -268px;
    position: relative;
    z-index: $header_cta_z_index;

    .container {
      .cta-image {
        height: 50vh;
        max-height: $header_cta_image_height;
        position: relative;
      }

      .cta-header {
        height: 40px;
        font-size: 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -25px;
      }
    }
  }
}

@media only screen and (max-width : 1200px) {
  #header-cta {
    margin-top: -268px;
    position: relative;
    z-index: $header_cta_z_index;

    .container {
      .cta-image {
        height: 50vh;
        max-height: $header_cta_image_height;
        position: relative;
      }

      .cta-header {
        height: 40px;
        font-size: 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -25px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #header-cta {
    margin-top: 0;
    position: relative;
    z-index: $header_cta_sm_z_index;

    .container {
      .cta-image {
        height: 300px;
      }

      .cta-header {
        height: 30px;
        font-size: 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -15px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}