#wine-images.hidden-sm.hidden-xs
  .col-md-9#wine-image-large
    %span.vertical-helper
    %img.large-image{:src => image_url(product.product_images.first.image.url(:large), 'data-zoom-image' => image_url(product.product_images.first.image.url(:large))}
  .col-md-3#wine-image-preview-wrapper
    #wine-image-preview-area
      - product.product_images.each do |product_image|
        .wine-image-preview
          %img.image-preview{:src => image_url(product_image.image.url(:small))}
          .wine-image-large-url-keeper.data-keeper{'data-path' => image_url(product_image.image.url) }