%section#contact-us-cta
  %p 维诺特，让你保持高贵

%section#wine-making
  .col-md-6.col-xs-12.pull-right.grapes-img
  .col-md-6.col-xs-12.pull-left.wine-making-intro
    %h2 百年酿造工艺
    %p 维诺特依旧保持着百年传承至今的酿造工艺，加以南澳酿酒名师之手，在一次又一次获奖后，连连创造惊喜。在纯净，优质和安全已经无法满足他们的匠心时，酿酒师更在红酒中溶入了自己的性格：时而洒脱，时而感性，细腻温润却又桀骜不驯，随着每次入口的冲击，持续着对味蕾的挑战。

%section#production-line
  .col-md-6.col-xs-12.production-line-img
  .col-md-6.col-xs-12.production-line-intro
    %h2 先进的灌装技术
    %p 维诺特更拥有世界先进的灌装技术和设备，无死角精密消毒，澳洲专业质检人员监督，更采用优质橡木塞无菌封装，不但外观精美，更在质量不减的情况下能够长久收藏。专业化的包装，封箱 及运输团队，在送上您的餐桌前，每一步都采用科学化的管理与贮藏，每一瓶都是精心呵护，保证饮用安全，更保证了红酒本身的高贵。

%section#history
  %h1 悠久历史
  %p 维诺特酒庄始建于1890年，酒庄位于南澳州古老酒区巴罗莎山谷，更在 麦卡伦山谷、阿德莱德山，库纳瓦拉，莫瑞河岸等 南澳其它知名酒区拥有上千株葡萄种植园。 酒庄将百年传统酿造工艺以及现代化管理技术相结合，其出产的葡萄酒多次荣获国际葡萄酒奖项，不单常年供销当地酒业零售店 及高档餐厅，更专注于高档酒款出口国外，在欧美等国家的出口量更是以惊人的速度增涨着，如今中国崛起，维诺特也借此良机，于今年进军亚洲市场。