

%section#welcome.about-us-welcome
  .container
    .welcome-content.text-center
      #welcome-header.font-pinyon-script
        Welcome
      #welcome-logo.logo.logo-black
        WILNUOTERWINE
      #welcome-split-wrapper
        .hr-image-wrapper
          %img.split-image{:src => image_url('hr-decoration-on-white.png')}
        %hr
      #welcome-main-content
        %span.logo.logo-black Wilnuoterwine
        澳大利亚, 又名澳洲，以多样的自然景观闻名全球，包括热带雨林、被称为“红色中心”的神秘巨石 - 乌鲁鲁、吸引众多旅客的驰名遐迩的自然遗产大堡礁。澳大利亚拥有极其丰富的自然资源以及十分规范的英派商业法，这使澳大利亚成为了全球第12大经济体，在生活素质，健康，教育，经济，公民自由度与政治权利等多项国际排名中皆名列前茅，因而吸引了数百万的亚洲移民。澳大利亚更出众于其独有的自然及生态环境，加上世界领先的科学技术，使澳大利亚的畜牧业和种植业都立于全球顶尖水平。而其各州中畜牧业，种植业及食品业的佼佼者，非南澳大利亚莫属。南澳大利亚做为澳大利亚食品行业的佼佼者，严格的遵守着联邦制定的食品法律法规，杜绝了添加剂，转基因作物和转基因酵母，坚持一切源于自然，南澳也随之成为了优质食品及红酒的出口大户，美味的优质和牛，无污染的极品海鲜，安全的奶制品，当然，首屈一指的还是其独一无二的葡萄酒，锐意创新的酿酒人、多元文化背景的酿酒经，以及崇尚保留葡萄品种的最高度原味和果香的酿酒哲学，使得澳洲葡萄酒充满个性和活力。早于上个世纪30年代，南澳州就成为了澳大利亚的葡萄酒产业中心，不仅体现在产量上，其品质在国际上也备受追捧，主产品种包括西拉子，赤霞珠，梅洛，歌海娜，雷司令等。 南澳州夏季昼热夜凉，冬季温暖湿润。气候相对干燥， 其得天独厚的地理位置以及气候优势，是为葡萄的生长量身订做的，酿出的酒自然丰满浓郁，并且酒的口味柔和，果香丰富，口感清新，极易入口，尤其适合初饮葡萄酒的人士，非常适于搭配中餐菜肴。用当地人的话来说“这片土地，是上帝为了喝最好的红酒而创造的”。全澳大利亚目前有65个葡萄酒产区，而最著名的产区则大部分位于南澳大利亚，如巴罗莎（Barossa Valley），麦卡伦谷（Mclaren Vale）等酒区，都因顶极红酒而闻名世界，独特的气候环境，强烈的光照，季节化的降雨条件，独特而充满野性的土壤，古老的葡萄藤加上悠久传承而又精绝的酿造工艺，使南澳的优质红酒享誉国际，赢得不计其数的奖项，更是英国女王餐桌上的至爱。维诺特（Wilnuoter）酒庄始建于1890年，酒庄位于南澳大利亚古老酒区巴罗莎山谷，更在麦卡伦山谷、阿德莱德山，库纳瓦拉，莫瑞河岸等南澳其它知名酒区拥有上千株葡萄种植园。 酒庄将百年传统酿造工艺以及现代化管理技术相结合，其出产的葡萄酒多次荣获国际葡萄酒奖项，不单常年供销当地酒业零售店及高级西餐厅，更专注于高档酒款出口国外，在欧美等国家的出口量更是以惊人的速度增涨着，如今中国崛起，维诺特也借此良机，于今年进军亚洲市场。维诺特的依旧保持着百年传承至今的酿造工艺，加以南澳酿酒名师之手，正心诚意，在一次又一次获奖后，连连创造惊喜。在纯净，优质和安全已经无法满足他们的匠心时，酿酒师更在红酒中溶入了自己的性格：时而洒脱，时而感性，细腻温润却又桀骜不驯，随着每次入口的冲击，持续着对味蕾的挑战。维诺特更拥有世界先进的灌装技术和设备，无死角精密消毒，澳大利亚专业质检人员监督，更采用优质橡木塞无菌封装，不但外观精美，更在质量不减的情况下能够长久收藏。专业化的包装，封箱及运输团队，在送上您的餐桌前，每一步都采用科学化的管理与贮藏，每一瓶都是精心呵护，保证饮用安全，更保证了红酒本身的高贵。维诺特，让你保持高贵。
  .container
    #welcome-footer.row.text-center
      .col-sm-4
        .welcome-footer-header
          联系电话
        .welcome-footer-content
          (00) 123 456 789
      .col-sm-4
        .welcome-footer-header
          营业时间
        .welcome-footer-content
          周一到周五: 8:00 - 10:00
      .col-sm-4
        .welcome-footer-header
          关注我们
        .welcome-footer-content
          .col-xs-2.col-xs-offset-2
            %i.fa.fa-wechat
          .col-xs-2
            %i.fa.fa-qq
          .col-xs-2
            %i.fa.fa-weibo
          .col-xs-2
            %i.fa.fa-pinterest-p

- has_pagination = false

-#%section#our-team
-#  .container.list{:class => has_pagination ? 'list-with-pagination' : 'list-without-pagination'}
-#    #our-team-header-wrapper.text-center
-#      .our-team-header-logo.font-pinyon-script
-#        Wilnuoterwine
-#      .our-team-header
-#        我们的团队
-#      #our-team-split-wrapper
-#        .hr-image-wrapper
-#          %img.split-image{:src => image_url('hr-decoration-on-white.png')}
-#        %hr
-#
-#    .row#member-list
-#      - @resp[:staffs].each do |staff|
-#        .col-md-4.col-sm-6
-#          .staff
-#            %img.img-thumbnail{:src => image_url(staff.image.url(:small)), :alt => ''}
-#            .row.member-info
-#              .member-name
-#                = staff.name
-#              %hr
-#              .member-role
-#                = staff.role
