%section#cta{:style => 'background-image: url(' + image_url('cta-background.png') + ');'}
  .container
    .cta-content
      .cta-header
        欢迎来到
        %span.logo.logo-white WILNUOTERWINE
      .cta-main-content
        %span.logo.logo-white Wilnuoterwine
        致力从南澳各地最佳区域甄选葡萄,打造顶级美酒,而重点<br>
        则聚焦南阿德莱德产区。您在品尝我们的佳酿时,已经同我们一道共同开<br>
        始踏上一段精彩的历程。
      %a.btn.btn-default.learn-more-link 了解更多

