#top-footer
  .container
    #footer-social.col-md-3
      .col-md-2
        %li.fa.fa-facebook
      .col-md-2
        %li.fa.fa-twitter
      .col-md-2
        %li.fa.fa-google-plus
      .col-md-2
        %li.fa.fa-linkedin
    #footer-trigger.col-lg-6
    #footer-payment-type.col-lg-3
%footer#main-footer
  .container
    .row.logo-row.logo
      .col-lg-6.text-center
        WILNUOTERWINE
    #footer-content.row
      .col-md-2
      .col-md-8
        .col-md-4
          %p 地址: 21 Albermarle Ave
          %p Trinity Gardens, SA 0000
          %p 邮件: info@email.com
          %p 电话: 0411 2222 1111
        .col-md-4
          %p 地址: 21 Albermarle Ave
          %p Trinity Gardens, SA 0000
          %p 邮件: info@email.com
          %p 电话: 0411 2222 1111
        .col-md-4
          %p 地址: 21 Albermarle Ave
          %p Trinity Gardens, SA 0000
          %p 邮件: info@email.com
          %p 电话: 0411 2222 1111
      .col-md-2
    .row.text-center
      .col-md-2
      .col-md-8
        #footer-navigation
          关于我们
          %span.footer-navigation-split &#124;
          联系我们
          %span.footer-navigation-split &#124;
          网站条款与条件
          %span.footer-navigation-split &#124;
          相关政策
          %span.footer-navigation-split &#124;
          网站地图
          %span.footer-navigation-split &#124;
          客户服务
      .col-md-2
    #footer-copyright.row.text-center
      Copyright
      %span.logo WILNUOTERWINE
      © 2016. All rights reserved.
