%header{:class => @resp[:header_type] == nil ? 'black' : @resp[:header_type]}
  %section#logo-section.text-center.logo
    = link_to 'WILNUOTERWINE', {:controller => 'pages', :action => 'index'}
  #main-menu.navbar
    .container
      %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '.nav-header-collapse'}
        %i.fa.fa-bars
      .collapse.navbar-collapse.nav-header-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "#"} 关于我们
          %li
            = link_to '精品红酒', wine_list_path, {:class => request.env['PATH_INFO'] == wine_list_path ? 'active' : ''}
          %li
            %a{:href => "#"} 活动资讯
          %li
            %a{:href => "#"} 联系我们

