%header
  %section#logo-section.text-center.logo
    WILNUOTERWINE
  #main-menu
    .container
      .col-md-2
      .col-md-8.text-center
        .col-md-3 关于我们
        .col-md-3 精品红酒
        .col-md-3 活动资讯
        .col-md-3 联系我们
      .col-md-2
