#wine-list-cta
  .container
    .cta-image{:style => 'background-image: url(' + image_url('red-wine.jpg') + ')'}

#wine-list
  .container
    - @resp[:products].each do |product|
      .col-lg-3.col-md-4.col-sm-6
        .product
          %img.img-thumbnail{:src => image_url('wine-glass.png'), :alt => ''}
          .row.product-info
            .col-xs-7.product-name
              = product.name
            .col-xs-5.product-price
              $
              = product.price