$wine_product_cta_image_height: 476px;

#wine-details {
  //@include default_background;
  .container {
    color: $product_thumbnail_name_color;

    img {
      display: inline;
      max-width:100%;
      max-height:100%;
      margin: 0 auto;
      vertical-align: middle;
    }

    .row {
      padding-top: 50px;
    }

    #wine-slider {
      margin: 30px 0 30px 0;
      position: relative;
      //max-height: 500px;

      .carousel-control {
        background-image: none;
      }
    }

    hr.first {
      margin-top: 50px;
      border: none;
      border-top: 1px solid #f6f6f6;
    }

    #wine-label-and-social {
      padding-top: 15px;
      padding-bottom: 15px;
      @include inner_border;

      #wine-labels {
        height: 30px;
        line-height: 30px;

        i {
          display: inline-block;
          color: $black;
        }

        #labels {
          font-style: italic;
          margin-left: 30px;
          display: inline-block;
        }
      }

      #share-links {
        height: 30px;
        line-height: 30px;

        #share-link-title {
          display: inline-block;
          color: $black;
        }

        i {
          display: inline-block;
          margin-left: 15px;
        }
      }
    }

    hr {
      border: none;
      border-top: 1px solid #e5e5e5;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

#related-wines {
  //@include default_background;
  padding-top: 70px;

  .related-wines-header-logo {
    color: $logo_color;
    font-size: 2.5em;
    letter-spacing: 3px;
  }

  .related-wines-header {
    font-size: 2.5em;
  }

  #related-wines-split-wrapper {
    height: $split_wrapper_height;
    line-height: $split_wrapper_height;
    margin-top: 35px;

    .hr-image-wrapper {
      width: 100px;
      height: auto;
      margin: 0 auto;
      //@include default_background;
      background-color: $white;
      position: relative;
      z-index: $split_wrapper_z_index;
    }

    hr {
      width: 50%;
      margin: -20px auto 0 auto;
      border-color: $home_page_welcome_split_hr_color;
      position: relative;
      z-index: $split_hr_z_index;
    }
  }

  #wine-list {
    background: transparent;
    margin-top: 30px;

    .learn-more-link {
      width: $learn_more_link_width;
      height: $learn_more_link_height;
      line-height: $learn_more_link_line_height;
      color: $black;
      border: 1px solid $black;
      margin-top: 50px;
      border-radius: $learn_more_link_height / 2;
    }
  }
}

