$logo_color: #a33f4d;
$logo_white_color: white;

$main_menu_color: white;
$main_menu_border_color: rgba(255, 255, 255, 0.2);

$top_footer_background: #252525;
$main_footer_background: #111111;
$footer_font_color: #7e7e7e;
$footer_navigation_border_color: rgba(255, 255, 255, 0.1);

$cta_content_font_color: white;
$cta_learn_more_link_background: #a33f4d;
$cta_learn_more_link_font_color: white;