$logo_color: #a33f4d;

$main_menu_color: white;
$main_menu_border_color: rgba(255, 255, 255, 0.2);

$top_footer_background: #252525;
$main_footer_background: #111111;
$footer_font_color: #7e7e7e;
$footer_navigation_border_color: rgba(255, 255, 255, 0.1);