@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700);
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
  @include default_background;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.logo {
  font-family: 'Philosopher', sans-serif;
  color: $logo_color !important;
  letter-spacing: 6px;
}

.logo-white {
  color: $cta_content_font_color !important;
}

.logo-black {
  color: $logo_black_color !important;
}

.font-pinyon-script {
  font-family: 'Pinyon Script', sans-serif;
}

.data-keeper {
  display: none;
}

.highlight-on-hover:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.vertical-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}